.root {
	-fx-background-color: #f0f4f8;
	-fx-alignment: center;
	-fx-padding: 25px;
	-fx-spacing: 10px;
}
#titleLabel {
	-fx-font: bold 28px Pacifico;
	-fx-text-fill: #044E54;
	-fx-padding: 0 0 40px 0;
	
}
#statusLabel {
	-fx-font: 14px "Avenir Next";
	-fx-text-fill :  #044E54;
	
	
	
}
.button {
		
		
		-fx-font:16Px "Avenir Next";
		-fx-background-color: #E66A6A;
		-fx-background-radius: 5px;
		-fx-text-fill: #fff;
		-fx-padding: 8px;
		
}